{% extends "auth2/base.html" %}
{% block content %}

<div class="d-flex flex-wrap justify-content-center">
  {% for element in catalog %}
<div class="card m-2" style="width: 18rem;">
  <img src="/media/{{ element.first_preview }}" class="card-img-top" style="width: 286px; height: max-content">
  <div class="card-body">
    <h5 class="card-title">{{ element.title }}</h5>
    <p class="card-text">{{ element.text }}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Cost: {{ element.cost }}</li>
    <li class="list-group-item">In stock: {{ element.in_stock }}</li>
    <li class="list-group-item">{{ element.created_date }}</li>
  </ul>
  <div class="card-body">
    <a href="{% url 'catalog_product' element.id %}" class="card-link">More</a>
  </div>
</div>
{% endfor %}

</div>
<style>
  .card{
  height: 750px;
  }
  .card-text{
  height: 200px;
  overflow: hidden;
  }
</style>
{% endblock content %}