{% extends "auth2/base.html" %}
{% block content %}
<div style="margin-left: 25px;">
<h1>{{ project.title }}</h1>
<img src="{{ project.preview.url }}" style="max-width: 75%;">
<p>{{ project.text }}</p>
<h3>{{ project.created_date }}</h3>
 
  <span class="material-symbols-outlined" type="button" id="{{project.id}}" value="{{project.id}}">
    favorite
    </span>
  <p id="like-{{project.id}}-value">
    {{ project.likes_count }}
  </p>
</div>


<script>
  const onClick = (event) => {

if (event.target.nodeName === 'SPAN') {

  console.log(event.target.value);
    $.ajax({
    type: 'POST',
    url: '{% url "like" project.id %}',
    data: {
      question_id: event.target.value,
      csrfmiddlewaretoken: '{{ csrf_token }}',
      action: 'post'
    },
    success: function (json) {
      
      document.getElementById('like-'+event.target.id+'-value').innerHTML = json['result']
      
    },
    error: function (xhr, errmsg, err) {

    }
  });
}
}
window.addEventListener('click', onClick);


</script>
{% endblock content %}