{% extends "auth2/base.html" %}

{% block content %}
<div class="d-flex flex-wrap justify-content-center">
{% for element in projects %}
<div class="card m-2" style="width: 25rem;">
  <center>
  <img src="/media/{{ element.preview }}" class="card-img-top" style="max-width: 100%; max-height: 500px">
    </center>
  <div class="card-body">
    <h5 class="card-title">{{ element.title }}</h5>
    <p class="card-text">{{ element.text }}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Likes: {{ element.likes_count }}</li>
    <li class="list-group-item">{{ element.created_date }}</li>
  </ul>
  <div class="card-body">
    <a href="{% url 'project' element.id %}" class="card-link">More</a>
  </div>
</div>
{% endfor %}
</div>
<style>
  .card{
  height: 900px;
  }
  .card-text{
  max-height: 200px;
  overflow: hidden;
  }
  .card-img-top{
    scale: 98%;
    zoom: 95%;

  }
</style>
{% endblock content %}